Source: buthead
Section: text
Priority: extra
Maintainer: Barak A. Pearlmutter <bap@debian.org>
Standards-Version: 3.8.0
Build-depends: debhelper (>= 7)

Package: buthead
Architecture: any
Depends: ${shlibs:Depends}
Description: copy all but the first few lines
 Program to copy all but the first N lines of stdin to stdout.
