Source: buthead
Section: text
Priority: extra
Maintainer: Barak Pearlmutter <bap@cs.unm.edu>
Standards-Version: 3.0.1

Package: buthead
Architecture: any
Depends: ${shlibs:Depends}
Description: copy all but the first few lines
 Copy all but the first N lines of standard input to standard output.
